
<div class="jumbotron text-center" >
    <h1>O porquê desta aplicação?</h1>
</div>

<div class="text-center">

    <p> Esta aplicação é só para estudar para o teste! </p>
    
</div>

<div class="text-center">
    <a href="/Home/Index"> Voltar para a página inicial </a>
</div>
