@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1> Esta é a página inicial do estudo! </h1> 
    <p>  Vamos estudar </p>
</div>

<div class="text-center">
    <a href="/Home/Conceito"> Ir para Conceito </a>
</div>


